article {
    margin-right: 280px;
    margin-left: 280px;
    //margin-bottom: 0px;
    position: center;
    background: #1C1C1C;
    box-shadow: 0px 0px 12px 6px #BDBDBD;
    border-bottom: 8px solid orange;
}

element.style {
    margin-left: 400px;
}

h1 {
    font-family: Montserrat;
    font-size: 32px;
    padding-top: 10px;
    padding-left: 50px;
    color: white;
}

p {
    font-family: Montserrat;
    color: white;
    padding-bottom: -19px;
}

